{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}
    <div class="row">
        <div class="col-md-7">
            <h3 class="col-md-4">Login</h3>
        </div>
    </div>

    {% include "message.html" %}

    <form method="post">
    {% csrf_token %}
        <div class="row">
            <div class="col-md-2">
                {% bootstrap_form form %}
            </div>
        </div>
        <input type="hidden" name="next" value="{{ next }}">
        {% if not request.user.is_authenticated %}
        <button type="submit" class="btn success">Login</button>
        {% endif %}
    </form>
{% endblock %}