{% extends "base.html" %}
{% load bootstrap3 %}
{% block content %}
    <div class="row">
        <div class="col-md-7">
            <h3 class="col-md-4">Add New Course</h3>
        </div>
    </div>

    {% include "message.html" %}

    <form role="form" class="form-horizontal" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-7">
                {% bootstrap_form form %}
            </div>
        </div>
        <div style="margin-left: -15px; margin-top: 20px">
            <button type="submit" class="btn success">Add</button>
            <a href="{% url 'web:course_list' %}" type="button" class="btn default">Cancel</a>
        </div>
    </form>
{% endblock %}