{% extends "base.html" %}
{% load bootstrap3 %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col-md-7">
            <h3 class="col-md-4">Courses</h3>
            {% if 'user.add_courses' in perms %}
            <a href="{% url 'web:course_add' %}" type="button" class="btn success pull-right" style="margin-top: 15px">Add</a>
            {% endif %}
        </div>
    </div>

    {% include "message.html" %}

    <form role="form" class="form-horizontal" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-7">
                {% bootstrap_form form %}
            </div>
        </div>
        <button class="btn success" type="submit" style="margin-left: -15px">Search</button>
    </form>
    <div class="col-md-7">
    <table class="table table-striped table-bordered table-condensed responsive mb0" style="background: #93a1aa; color: black; margin-top: 20px">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for c in courses %}
            <tr>
                <td>{{ c.0 }}</td>
                <td>{{ c.1 }}</td>
                <td>{{ c.2|default_if_none:'' }}</td>
                <td>{{ c.3|default_if_none:'' }}</td>
                <td>
                    {% if perms.web.manage_courses %}
                    <a href="{% url 'web:course_management' c.0 %}" class="btn btn-xs primary">Management</a>
                    {% endif %}
                    {% if perms.web.delete_courses %}
                    <button class="btn btn-xs danger" onclick="remove(this)"
                        data-id="{{ c.0 }}" data-url="{% url 'web:course_delete' c.0 %}">Remove</button>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
{% endblock %}

{% block body_js %}
<script src="{% static 'vendor/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'vendor/sweetalert/sweetalert.2.0.min.js' %}"></script>
<script>
function remove(e) {
    var id = e.getAttribute('data-id');
    swal({
        icon: "warning",
        title: 'You are removing course "' + id +'"!',
        buttons: true,
        dangerMode: true,
        closeOnClickOutside: false
    }).then(function(ok) {
        if(ok) {
            var url = e.getAttribute('data-url');
            $.ajax({
                url: url,
                type: "GET",
                success: function (response) {
                    location.reload()
                },
            })
        }
    })
}


</script>
{% endblock %}