{% extends "base.html" %}
{% load bootstrap3 %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col-md-7">
            <h3 class="col-md-4">Course Management</h3>
        </div>
    </div>

    {% include "message.html" %}

    <form role="form" class="form-horizontal" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-7">
                {% bootstrap_form form %}
            </div>
        </div>
        <div class="row">
            <label>Users</label>
        </div>
        <div class="row">
            <div class="col-md-7">
                <table class="table table-striped table-bordered table-condensed responsive mb0" style="background: #93a1aa; color: black;">
                <thead>
                    <tr>
                        <th class="col-xs-1"><input type="checkbox" name="select-all" id="select-all" {% if not perms.web.change_courses %}disabled{% endif %}/></th>
                        <th class="col-md-2">Employee ID</th>
                        <th class="col-md-3">Name</th>
                        <th class="col-md-1">Department</th>
                        <th class="col-md-1">Role</th>
                        <th class="col-md-1">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for s in users %}
                    {% if s.0|slugify in joined_user_id %}
                        {% if s.13 is not None %}
                            <tr class="checkboxlist">
                                <td><input type="checkbox" name="users" value="{{ s.0 }}" checked {% if not perms.web.change_courses %}disabled{% endif %} title=""/></td>
                                <td>{{ s.11 }}</td>
                                <td>{{ s.12 }}</td>
                                <td>{{ s.14|default_if_none:'' }}</td>
                                <td>{{ s.13|yesno:'Teacher,Student' }}</td>
                                <td>
                                    {% if perms.web.view_evaluation %}
                                    {% if s.13 == 0 %}
                                        <a href="{% url 'web:evaluate_user' course_id s.11 %}" class="btn primary btn-xs">Evaluate</a>
                                    {% endif %}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endif %}
                    {% endif %}
                    {% endfor %}

                    {% for s in users %}
                    {% if s.0|slugify not in joined_user_id %}
                        {% if s.13 is not None %}
                            <tr class="checkboxlist">
                                <td><input type="checkbox" name="users" value="{{ s.0 }}" {% if not perms.web.change_courses %}disabled{% endif %} title=""/></td>
                                <td>{{ s.11 }}</td>
                                <td>{{ s.12 }}</td>
                                <td>{{ s.14|default_if_none:'' }}</td>
                                <td>{{ s.13|yesno:'Teacher,Student' }}</td>
                                <td>
                                </td>
                            </tr>
                        {% endif %}
                    {% endif %}
                    {% endfor %}
                </tbody>
                </table>
            </div>
        </div>
        <div style="margin-left: -15px; margin-top: 20px" class="row">
            {% if perms.web.change_courses %}
            <button type="submit" class="btn success">Save</button>
            <a href="{% url 'web:course_list' %}" type="button" class="btn default">Cancel</a>
            {% else %}
            <a href="{% url 'web:course_list' %}" type="button" class="btn default">Back</a>
            {% endif %}
        </div>
    </form>
{% endblock %}

{% block body_js %}
<script src="{% static 'vendor/jquery/dist/jquery.min.js' %}"></script>
<script>
    $('#select-all').on('change', function() {
        $('.checkboxlist input[type="checkbox"]').prop('checked', this.checked);
    });

    $('.checkboxlist input[type="checkbox"]').on('change', function () {
        var allChecked = $('.checkboxlist input:checked').length === $('.checkboxlist input').length;
        $('#select-all').prop('checked', allChecked);
    });


</script>
{% endblock %}