{% extends "base.html" %}
{% load bootstrap3 %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col-md-7">
            <h3 class="col-md-4">Documents</h3>
            {% if perms.web.add_documents %}
            <a href="{% url 'web:document_upload' %}" type="button" class="btn success pull-right" style="margin-top: 15px">Upload</a>
            {% endif %}
        </div>
    </div>

    {% include "message.html" %}

    <form role="form" class="form-horizontal" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-7">
                {% bootstrap_form form %}
                <div style="margin-left: -15px;">
                    <label>Course</label>
                    <select class="form-control" style="width: auto;" name="course">
                        <option value="">All</option>
                        {% for c in courses %}
                            <option value="{{ c.1 }}" {% if c.1|slugify == course|slugify %}selected{% endif %}>{{ c.1 }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div style="margin-left: -15px; margin-top: 20px">
            <button type="submit" class="btn success">Search</button>
        </div>
    </form>
    <div class="col-md-7">
    <table class="table table-striped table-bordered table-condensed responsive mb0" style="background: #93a1aa; color: black; margin-top: 20px">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Author</th>
                <th>Uploaded By</th>
                <th>Course</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for d in documents %}
            <tr>
                <td>{{ d.0 }}</td>
                <td>{{ d.1 }}</td>
                <td>{{ d.2|default_if_none:'' }}</td>
                <td>{{ d.4|default_if_none:'' }}</td>
                <td>{{ d.5 }}</td>
                <td>
                    {% if perms.web.download_documents %}
                    <a href="{% url 'web:document_download' d.0 %}" class="btn btn-xs primary">Download</a>
                    {% endif %}
                    {% if perms.web.delete_documents %}
                    <button class="btn btn-xs danger" onclick="remove(this)"
                        data-id="{{ d.0 }}" data-url="{% url 'web:document_delete' d.0 %}">Remove</button>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
{% endblock %}

{% block body_js %}
<script src="{% static 'vendor/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'vendor/sweetalert/sweetalert.2.0.min.js' %}"></script>
<script>
function remove(e) {
    var id = e.getAttribute('data-id');
    swal({
        icon: "warning",
        title: 'You are removing course "' + id +'"!',
        buttons: true,
        dangerMode: true,
        closeOnClickOutside: false
    }).then(function(ok) {
        if(ok) {
            var url = e.getAttribute('data-url');
            $.ajax({
                url: url,
                type: "GET",
                success: function (response) {
                    location.reload()
                },
            })
        }
    })
}


</script>
{% endblock %}