{% extends "base.html" %}
{% load bootstrap3 %}
{% block content %}
    <div class="row">
        <div class="col-md-7">
            <h3 class="col-md-4">Upload Document</h3>
        </div>
    </div>

    {% include "message.html" %}

    <form role="form" class="form-horizontal" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-7">
                {% bootstrap_form form %}
                <div style="margin-left: -15px;">
                    <label>Course</label>
                    <select class="form-control" style="width: auto;" name="course">
                        {% for c in courses %}
                            <option value="{{ c.0 }}" {% if c.0|slugify == course|slugify %}selected{% endif %}>{{ c.1 }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div style="margin-left: -15px; margin-top: 20px">
            {% if can_upload %}
            <button type="submit" class="btn success">Upload</button>
            {% endif %}
            <a href="{% url 'web:document_list' %}" type="button" class="btn default">Cancel</a>
        </div>
    </form>
{% endblock %}