<!doctype html>
<html class="no-js" lang="">
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<head>
    <meta charset="utf-8">
    <title>Training Management</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    {% block body_stylesheet %}
    {% endblock %}
</head>
<body style="background-color: #DCDCDC;">
{% block body_content %}
<style>
.btn {
    border: 1px solid black;
    background-color: white;
    color: black;
    cursor: pointer;
}

/* Green */
.success {
    border-color: #4CAF50;
    color: green;
}

.success:hover {
    background-color: #4CAF50;
    color: white;
}

/* Blue */
.primary {
    border-color: #2196F3;
    color: dodgerblue
}

.primary:hover {
    background: #2196F3;
    color: white;
}


/* Red */
.danger {
    border-color: #f44336;
    color: red
}

.danger:hover {
    background: #f44336;
    color: white;
}

/* Gray */
.default {
    border-color: #e7e7e7;
    color: black;
}

.default:hover {
    background: #e7e7e7;
}
</style>
<div class="app layout-fixed-header">

    <!--sidebar-panel-->
    {% include 'navigation.html' %}

    <!-- content panel -->
    <div class="main-panel">
        <!-- top header -->
        <div class="main-content" style="margin-left: 50px">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}
{% block body_js %}
{% endblock %}
</body>
</html>
