{% block sidebar_panel %}
    <div class="sidebar-panel offscreen-left">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" style="color: #F07E01;font-size: 24px;">CO-WELL Training</a>
                </div>
                <ul class="nav navbar-nav">
                    {% if request.user.is_authenticated %}
                        <li {% if request.path == '/web-portal/' %}class="active"{% endif %}><a href="{% url 'web:web-index' %}">Home </a></li>
                        {% if perms.web.manage_users %}
                            <li {% if 'user' in request.path %}class="active"{% endif %}><a href="{% url 'web:user_list' %}">Users</a></li>
                        {% endif %}
                        {% if perms.web.search_courses %}
                            <li {% if 'course' in request.path %}class="active"{% endif %}><a href="{% url 'web:course_list' %}">Courses</a></li>
                        {% endif %}
                        {% if perms.web.search_documents %}
                            <li {% if 'document' in request.path %}class="active"{% endif %}><a href="{% url 'web:document_list' %}">Document</a></li>
                        {% endif %}
                        <li><a href="{% url 'web:logout' %}">Logout</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>
{% endblock %}