{% extends "base.html" %}
{% load bootstrap3 %}
{% block content %}
    <div class="row">
        <div class="col-md-7">
            <h3 class="col-md-4">Evaluate Student</h3>
        </div>
    </div>

    {% include "message.html" %}

    <form role="form" class="form-horizontal" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-7">
                {% bootstrap_form form %}
            </div>
        </div>
        {% if evaluation %}
        <div class="row">
            <div class="col-md-7">
                <div class="form-group">
                    <label>Previous Assessor</label>
                    <input class="form-control" disabled value="{{ evaluation.4 }} ({{ evaluation.3 }})"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <div class="form-group">
                    <label>Previous Evaluation</label>
                    <textarea style="width: 1005px; height: 100px" disabled>{{ evaluation.5 }}</textarea>
                </div>
            </div>
        </div>
        {% endif %}
        {% if perms.web.add_evaluation %}
        <div class="row">
            <div class="col-md-7">
                <div class="form-group">
                    <label>Assessor</label>
                    <input class="form-control" placeholder="Assessor" disabled value="{{ request.user.full_name }} ({{ request.user.employee_id }})"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <div class="form-group">
                    <label>Evaluation</label>
                    <textarea name="evaluation" class="text" style="width: 1005px; height: 200px"></textarea>
                </div>
            </div>
        </div>
        <div style="margin-left: -15px; margin-top: 20px">
            <button type="submit" class="btn success">Add</button>
            <a href="{% url 'web:course_management' course_id %}" type="button" class="btn default">Cancel</a>
        </div>
        {% else %}
            <a href="{% url 'web:course_management' course_id %}" type="button" class="btn default">Back</a>
        {% endif %}
    </form>
{% endblock %}