{% extends "base.html" %}
{% load bootstrap3 %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col-md-7">
            <h3 class="col-md-4">Users</h3>
            <a href="{% url 'web:user_add' %}" type="button" class="btn success pull-right" style="margin-top: 15px">Add</a>
        </div>
    </div>

    {% include "message.html" %}

    <form role="form" class="form-horizontal" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-7">
                {% bootstrap_form form %}
            </div>
        </div>
        <button class="btn success" type="submit" style="margin-left: -15px">Search</button>
    </form>
    <div class="col-md-7">
    <table class="table table-striped table-bordered table-condensed responsive mb0" style="background: #93a1aa; color: black; margin-top: 20px">
        <thead>
            <tr>
                <th>Employee ID</th>
                <th>Full Name</th>
                <th>Department</th>
                <th>Role</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for s in users %}
            {% if s.13 is not None %}
                <tr>
                    <td>{{ s.11 }}</td>
                    <td>{{ s.12 }}</td>
                    <td>{{ s.14 }}</td>
                    <td>{{ s.13|yesno:'Teacher,Student' }}</td>
                    <td>
                        <a class="btn btn-xs primary" href="{% url 'web:user_management' s.11 %}">Management</a>
                        <button class="btn btn-xs danger" onclick="remove(this)" data-id="{{ s.11 }}"
                        data-url="{% url 'web:user_delete' s.11 %}">Remove</button>
                    </td>
                </tr>
            {% endif %}
            {% endfor %}
        </tbody>
        </table>
    </div>
{% endblock %}

{% block body_js %}
<script src="{% static 'vendor/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'vendor/sweetalert/sweetalert.2.0.min.js' %}"></script>
<script>
function remove(e) {
    var id = e.getAttribute('data-id');
    swal({
        icon: "warning",
        title: "You are removing employee " + id +'!',
        buttons: true,
        dangerMode: true,
        closeOnClickOutside: false
    }).then(function(ok) {
        if(ok) {
            var url = e.getAttribute('data-url');
            $.ajax({
                url: url,
                type: "GET",
                success: function (response) {
                    location.reload()
                },
            })
        }
    })
}


</script>
{% endblock %}