{% extends "base.html" %}
{% load bootstrap3 %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col-md-7">
            <h3 class="col-md-4">User Management</h3>
        </div>
    </div>

    {% include "message.html" %}

    <form role="form" class="form-horizontal" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-7">
                {% bootstrap_form form %}
            </div>
        </div>
        <div class="row">
            <label>Courses</label>
        </div>
        <div class="row">
            <div class="col-md-7">
                <table class="table table-striped table-bordered table-condensed responsive mb0" style="background: #93a1aa; color: black;">
                <thead>
                    <tr>
                        <th class="col-xs-1"><input type="checkbox" name="select-all" id="select-all" /></th>
                        <th class="col-md-4">Name</th>
                        <th class="col-md-2">Start Date</th>
                        <th class="col-md-2">End Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for c in courses %}
                    {% if c in joined_courses %}
                        <tr class="checkboxlist">
                            <td><input type="checkbox" name="courses" value="{{ c.0 }}" checked title=""/></td>
                            <td>{{ c.1 }}</td>
                            <td>{{ c.2|default_if_none:'' }}</td>
                            <td>{{ c.3|default_if_none:'' }}</td>
                        </tr>
                    {% endif %}
                    {% endfor %}

                    {% for c in courses %}
                    {% if c not in joined_courses %}
                        <tr class="checkboxlist">
                            <td><input type="checkbox" name="courses" value="{{ c.0 }}" title=""/></td>
                            <td>{{ c.1 }}</td>
                            <td>{{ c.2|default_if_none:'' }}</td>
                            <td>{{ c.3|default_if_none:'' }}</td>
                        </tr>
                    {% endif %}
                    {% endfor %}

                </tbody>
                </table>
            </div>
        </div>
        <div style="margin-left: -15px; margin-top: 20px" class="row">
            <button type="submit" class="btn success">Save</button>
            <a href="{% url 'web:user_list' %}" type="button" class="btn default">Cancel</a>
        </div>
    </form>
{% endblock %}

{% block body_js %}
<script src="{% static 'vendor/jquery/dist/jquery.min.js' %}"></script>
<script>
    $('#select-all').on('change', function() {
        $('.checkboxlist input[type="checkbox"]').prop('checked', this.checked);
    });

    $('.checkboxlist input[type="checkbox"]').on('change', function () {
        var allChecked = $('.checkboxlist input:checked').length === $('.checkboxlist input').length;
        $('#select-all').prop('checked', allChecked);
    });


</script>
{% endblock %}